body {
  background-color: #242331;
  color: #E8E8E8;
}

tr {
  background-color: #242331 !important;
  color: #E8E8E8 !important;
}

tr th {
  background-color: #242331 !important;
}

.form-control {
  background-color: #242331 !important; 
}

a.paginate_button previous {
  color: #E8E8E8 !important;
  border-width: 0 !important;
}

.dataTables_wrapper.dataTables_paginate.paginate_button {
  color: #FF0000 !important;
  border-width: 0 !important;
}

.text_normal {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
  margin: 15px 0px 10px;
  line-height: 1 !important;
}

.text_counter {
  color: #1CB752 !important;
  font-size: 70px;
  text-align: center;
  font-weight: 900;
  margin: 0px 0px 20px;
  line-height: 1 !important;
}

button {
  background-color: #1CB752 !important;
  border-width: 0 !important;
  color: #E8E8E8 !important;
  border-radius: 40%/100% !important;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 7px 20px 7px 20px !important;
}

.text-input .shiny-input-text {
  background-color: #242331 !important;
  color: #E8E8E8 !important;
  font-weight: bold !important;
  border-width: 0 !important;
  padding: 20px 20px 20px 20px !important;
  margin: 1px 0px !important;
  border-radius: 20px !important;
  -webkit-box-shadow: 0px 0px 10px 0px #242331;
  -moz-box-shadow: 0px 0px 10px 0px #242331;
  box-shadow: 0px 0px 10px 0px #201927;
}

.select .form-group {
  margin: 15px !important;
  margin-bottom: 30px !important;
}

.select .selectize-input {
  background-color: #242331 !important;
  color: #E8E8E8;
  border-width: 0;
  border-radius: 20px !important;
  -webkit-box-shadow: 0px 0px 10px 0px #242331;
  -moz-box-shadow: 0px 0px 10px 0px #242331;
  box-shadow: 0px 0px 10px 0px #201927;
}

.select .selectize-dropdown-content > .option {
  background-color: #242331 !important;
  color: #E8E8E8;
}

.select .selectize-dropdown-content > .active {
  background-color: #343341 !important;
  color: #E8E8E8;
}

.select .single {
  background-color: #242331 !important;
  color: #E8E8E8;
}

.select .selectize-input.focus {
  box-shadow: none;
  border-radius: 20px !important;
}

.nav {
  border-width: 0 !important;
  margin-top: 10px !important;
}

.nav li a {
  background-color: #242331;
  color: #E8E8E8 !important;
  font-weight: bold !important;
}

.nav li.active a {
  background-color: #242331; !important;
  border-radius: 10px 10px 0px 0px !important;
  border-color: #E8E8E8 !important;
  border-width: 2px 2px 0px 2px;
}
